.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  pointer-events: all;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
}

.layout-spinner {
  width: 10rem !important;
  height: 10rem !important;
  border-width: 1rem !important;
}

.hover-light:hover {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.table-horizontal-scroll {
  overflow-x: auto;
  width: 100%;
}

.input-focus-shadow:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), 0.4);
  outline: none;
}

input[type="checkbox"].custom-checkbox:checked {
  background-color: var(--bs-secondary); /* Fill color */
  border-color: var(--bs-secondary); /* Border color */
}

/* Optional: Change the checkmark color */
input[type="checkbox"].custom-checkbox:checked::before {
  color: white; /* This works only with a fully custom checkmark */
}
