.navbar-link {
  font-size: 1.1rem;
  text-decoration: none;
  margin: 5px;
  color: black;
  font-weight: bold;
}

.navbar-link:hover {
  color: #222;
}

a.navbar-link.active {
  color: white;
}

a.navbar-link.active:hover {
  color: 222;
}
